html,
body {
  color: Black;
  background: White;
  margin-right: 10%;
  margin-left: 10%;
  font-size: medium;
  font-family: "Times New Roman", serif;
  text-align: justify;
}

html,
pre {
  font-size: medium;
  font-family: "Times New Roman", serif;
}

html,
p {
  text-indent: 4%;
}

.noindent {
  text-indent: 0%;
}
