html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.white,
.hover-white:hover {
  color: #000;
  background-color: #fff;
}
.center {
  text-align: center;
}

.div-buttons {
  margin: auto;
  width: fit-content;
}

.padding-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.btn,
.button {
  border: 1px solid;
  margin: 1px;
  text-decoration: none;
  border-radius: 25px;
}

.w3-block {
  display: block;
  width: 200px;
}

.teal,
.hover-teal:hover {
  color: #fff;
  background-color: #009688;
}

.padding-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
